In [1]:
import pandas as pd

In [7]:
cols_to_drop = ['53-0.0', '53-1.0', '53-2.0', '53-3.0', '21002-0.0', '21002-1.0', '21002-2.0', '21002-3.0', '2296-0.0', '2296-1.0', '2296-2.0', '2296-3.0', '2178-0.0', '2178-1.0',
               '2178-3.0', '2306-0.0', '2306-1.0', '2306-2.0', '2306-3.0', '20023-0.0', '20023-1.0',
               '20023-3.0', '4282-0.0', '4282-1.0',
               '4282-3.0', '20016-0.0', '20016-1.0',
                '20016-3.0',
                '6348-3.0', '6350-3.0', '6349-3.0', '6351-3.0', '6373-3.0',
                '21004-3.0', '23323-3.0', '23324-3.0', '20018-0.0', '20018-1.0', '20018-3.0', '399-0.1',
                '399-0.2', '399-0.3', '399-1.1', '399-1.2', '399-1.3', '399-2.1', '399-2.2', '399-2.3', '399-3.1', 
                '399-3.2', '399-3.3', '46-0.0', '46-1.0', '46-3.0', '47-0.0', '47-1.0', '47-3.0'
]

In [14]:
ukb_phen = pd.read_csv('ukb_phenotypes.csv', index_col=0).drop(columns=cols_to_drop)
ukb_phen

/local/sdc/tmla2/miniconda/envs/adni_tim/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,2178-2.0,20023-2.0,4282-2.0,20016-2.0,6348-2.0,6350-2.0,6349-2.0,6351-2.0,6373-2.0,21004-2.0,23323-2.0,23324-2.0,20018-2.0,46-2.0,47-2.0
eid,,,,,,,,,,,,,,,
1000017,4.0,452.0,-1.0,4.0,182.0,449.0,0.0,1.0,7.0,8.0,24.0,24.0,1.0,39.0,44.0
1000025,2.0,604.0,8.0,4.0,178.0,418.0,0.0,0.0,7.0,11.0,26.0,26.0,1.0,40.0,42.0
1000038,2.0,577.0,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,20.0,32.0
1000042,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000056,2.0,783.0,6.0,5.0,327.0,370.0,0.0,1.0,8.0,10.0,25.0,24.0,1.0,22.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6025039,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6025043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6025050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6025065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6025077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
bridge_df = pd.read_csv('../data/bridge_46620_20904_20200122.csv', index_col=0)
#bridge_df.loc[ukb_phen.index, 'eid20904'].values

In [20]:
ukb_phen = ukb_phen.join(bridge_df).reset_index().set_index('eid20904').drop(columns=['eid'])
ukb_phen

,2178-2.0,20023-2.0,4282-2.0,20016-2.0,6348-2.0,6350-2.0,6349-2.0,6351-2.0,6373-2.0,21004-2.0,23323-2.0,23324-2.0,20018-2.0,46-2.0,47-2.0
eid20904,,,,,,,,,,,,,,,
4538295,4.0,452.0,-1.0,4.0,182.0,449.0,0.0,1.0,7.0,8.0,24.0,24.0,1.0,39.0,44.0
2673033,2.0,604.0,8.0,4.0,178.0,418.0,0.0,0.0,7.0,11.0,26.0,26.0,1.0,40.0,42.0
1927180,2.0,577.0,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,20.0,32.0
4849271,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3226827,2.0,783.0,6.0,5.0,327.0,370.0,0.0,1.0,8.0,10.0,25.0,24.0,1.0,22.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2032067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5773450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5900286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3443520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2216278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
ukb_phen.to_csv('ukb_filtered_phenotypes.csv')